body {
  background-color: #ffcc00;
}

h1,
h2,
p,
ul,
li,
table,
a,
button {
  font-family: Helvetica;
}

.right {
  float: right;
}

.navbar-custom {
  background-color: black;
}

nav li {
  color: #fff;
  list-style-type: none;
  margin: 0rem 0.1rem 0 0.1rem;
}

nav li a {
  color: #fff;
  font-weight: bold;
}

nav li a:hover {
  background-color: #0099ff;
  color: #fff;
  text-decoration: none;
}

.masterheader {
  color: #fff;
  font-weight: bold;
}

.dropdown-menu,
.dropdown-toggle {
  width: 200px;
}

.footer-custom {
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

footer div a {
  color: #fff;
}

.btn {
  border-radius: 0px;
  background-color: black;
}

.linechart-dark {
  background-color: #303030;
}